.slick-slider .slick-prev{
    z-index: 1;
    left: 10px;
}
.slick-slider .slick-next{
    z-index: 1;
    right: 10px;    
}

@media(max-width:992px){
    .slick-slider .slick-prev, .slick-slider .slick-next{
        display: none !important;
    }
}

.slick-list {
  /* overflow: visible !important; */

}
  
  .slick-track {
    overflow: visible !important;
  }
  
  .slick-slide {
    overflow: visible !important;
  }

  .slick-arrow{
    z-index: 100 !important;
  }

  .slick-arrow::before{
    color: #f1584a !important;
    /* background-color: red !important; */
  }